
/*
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
    color: #000;
    width: 100%;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: blue !important;
}
*/


/*med*

/*
@media screen and (min-width:768px) {
    html {
        font-size: 1vw;
    }

    #snav {
        display: none;
    }

    #lnav {
        display: grid;
    }
}


/*small*/
@media screen and (max-width:768px) {
    html {
        font-size: .8vh;
    }

    #lnav {
        display: none !important;
    }

}
*/

/*
#a11 {
    color: #fff;
    background-image: url('/img/b1.jpg');
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    height: 700px;
}
*/


#snav, #lnav {
    font-size: 1rem;
    padding: 0em;
    font-size: 1rem;
}

#snav>#nav {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    position: relative;
    background-color: #0B3162 !important;
    padding: 1em;
}

#nav>div:first-child>img {
    width: 50px;
    border-radius: 50%;
}

#nav>div:first-child>span, #p6>div:first-child>span {
    font-weight: 900;
    font-size: 4em;
    font-variant: small-caps;
    margin-left: .3em;
    color: #B71B42;
    text-shadow: 1px 0px #fff, 0px 1px #fff;
}

#nav>div:first-child {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
}

#snav>#nav>div:nth-child(2) {
    z-index: 3;
    position: fixed;
    right: 0;
    margin-right: 1em;
}

#snav>#nav>div:nth-child(2)>span, #smnav>#mav>div:nth-of-type(2)>span {
    height: 3px;
    display: block;
    background-color: #fff;
    width: 30px;
    margin: 1em 0 0;
    z-index: 3;
    transition: .5s;
}

#snav>#nav>div:nth-child(2)>#a1, #mav #a1 {
    transform: translateX(-15px);
    z-index: 3;
}

#snav>#nav>div:nth-child(2)>#a2 {}

#snav .a1, #smnav .a1 {
    transform: translate(-8px, 8px) rotate(225deg) !important;
}

#snav .a2, #smnav .a2 {
    transform: translate(-8px, -4px) rotate(310deg) !important;

}

#navl {
    
    text-align: right;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    transition: .5s;
    z-index: 2;
    padding: 6em 0 0;
    border-left: 2px solid #000;
    border-radius: 20px 0 0 50px;
    background-color: #0B3162;
}

.navl {
    width: 80% !important;
}

#navl>div {
    text-align: left;
}

#navl>div:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 1em;
    position: absolute;
    bottom: 0;
    margin-bottom: 9em;
    width: calc(100% - 2em);
}

#navl>div>div {
    padding: 1em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
}

#navl>div:nth-child(2)>a {
    border: 2px solid #000;
    padding: 1em 1.5em;
    margin-top: 1.2em;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: .5em;
    bottom: 0;
    text-align: center;
}

#navl>div:nth-child(2)>a:first-of-type {
    transition: 1.2s;
    color: #000;
    background-color: #fff;
}

#navl>div:nth-child(2)>a:nth-of-type(2) i {
    margin-right: .5em;
}

#navl>div:nth-child(2)>a:nth-of-type(2) {
    background-color: #1B2330;
    color: #ffffffdd;
    transition: .6s;
}

.fli {
    display: grid;
    grid-template-columns: auto max-content;
}

#navl>div>div>div:first-child:hover {
    color: red;
}

.lii {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 1em;
}

.lii>div {
    display: block;
    padding-top: .9em;
    color: #00000090;
}


.lii>div>div {
    display: inline-block;
}

.lii>div>i {
    margin-right: .5em;
}


#lnav>#nav {
    align-items: center !important;
}

#lnav>#nav {
    display: grid;
    grid-template-columns: max-content auto;
    justify-content: space-between;
}

#lnav>#nav>div:nth-child(2) {
    text-transform: uppercase;
}

#lnav>#nav>div:nth-child(2)>div:hover {
    color: red;
}

#lnav>#nav>div:nth-child(2)>div {
    display: inline-block;
    font-weight: 800;
    padding: 0 1em;
    font-size: 1.3em;
    position: relative;
}

#lnav>#nav>div:nth-child(2)>div:hover>div:nth-child(2) {
    display: block !important;
}

#lnav>#nav>div:nth-child(2)>div>div:nth-child(2) {
    position: absolute;
    z-index: 3;
    overflow: visible;
    display: none;
    padding: .5em 1em;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    margin-top: .3em;
}

#lnav>#nav>div:nth-child(2)>div>div:nth-child(2)>a:hover {
    color: red;
}

#lnav>#nav>div:nth-child(2)>div>div:nth-child(2)>a {
    display: grid;
    padding: .5em 0;
    grid-template-columns: max-content max-content;
    color: #000000bb;
}

#lnav>#nav>div:nth-child(2)>div>div:nth-child(2)>a>span {
    margin-left: .4em;
}

#p1 {
  text-align: center;
  background-color: blue;
  height: 100vh;
}

#p1>div {
  display: grid;
  grid-template-columns: max-content max-content;
}

#p1>div>img {
  
}

#p1>div>div>p {
  font-size: 1em;
  font-weight: 900;
}

#p1>p {
  font-size: 3.5em;
  font-weight: 900;
}

#p1>div:nth-of-type(2) {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 2em;
  
}

#p1>div:nth-of-type(2)>a {
  background-color: #B41943;
  color: #fff;
  padding: .5em 1em;
  font-size: 2.5em;
  font-weight: 900;
  border: 2px solid #fff;
  box-shadow: 5px 5px #fff;
  display: block;
}

#p2 {
  background-color: #B41943;
  color: #fff;
  font-size: 2em;
  margin: 0 !important;
  padding: 0 !important;
}


#p2>div>div>p:first-child {
  font-size: 2em;
  font-weight: 900;
}

#p2>div:nth-child(2) {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 2rem;
}

#p2>div:nth-child(2)>a {
  background-color: blue;
  color: #fff;
  padding: .5em 1em;
  font-size: 1.3em;
  font-weight: 900;
  border: 2px solid #fff;
  box-shadow: 5px 5px #fff;
}


#p3 {
  background-color: #000;
}


#p3>p {
  font-size: 5em;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 3px 0 #B41943, -1px 0 #B41943, 0 3px #B41943, 0 -1px #B41943;
}

#p3>div {
  
}

#p3>div {
  color: #fff !important;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-evenly;
  font-size: 2.7em;
}

#p3>div>div>p:first-child {
  color: #B41943;
  font-weight: 900;
  text-shadow: 3px 0 #fff, -1px 0 #fff, 0 3px #fff, 0 -1px #fff;
}
